*{margin: 0;
padding: 0;
box-sizing: border-box;}

:root{ 
    --color-primario: rgba(250,40,200,1)
    --color-secundario: rgba(255,255,0,1)
}


.logonav{
    height: 15%;
    width: 15%;
}
header{display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar-list a{
    font-size: 15px;
    color: rgb(12, 9, 22);
}